@font-face {
  font-family: "Work Sans";
  src: url("/assets/font/Work_Sans/WorkSans-VariableFont_wght.ttf")
    format("truetype");
}
@font-face {
  font-family: "Herbik";
  src: url("/assets/font/Herbik/Herbik1.3Dev-Regular.otf") format("truetype");
}
:root {
  --cc-primary: olive;
  --cc-secondary: #ff3b00;

  --cc-olive: #8d8200;
  --cc-olive-light: #bfb326;
  --cc-olive-highlight: #fff600;

  --cc-orange: #dd5800;
  --cc-orange-light: #ff7200;
  --cc-orange-highlight: #ff9d00;

  --cc-purple: #2c2546;
  --cc-purple-light: #8a7eb5;
  --cc-purple-highlight: #c3b2ff;

  --cc-blue: #194641;
  --cc-blue-light: #d1dcda;
  --cc-blue-highlight: #f0faf7;

  --cc-bg: #f5f5f5;

  --ff-primary: "Work Sans", sans-serif;
  --ff-serif: "Herbik", serif;

  --fs-fluid-title: clamp(
    3.5rem,
    9vw + 1rem,
    12rem
  ); /* min, growth-factor, max */

  --fs-xl: 11.25rem; /*180*/
  --fs-big: 5rem; /*72*/
  --fs-med: 2.25rem; /*36*/

  --fs-xl: 7.5rem; /*120*/
  --fs-big: 3rem; /*48*/
  --fs-med: 1.5rem; /*24*/

  --fw-primary: 400;

  --content-container-max-height: 66vh;
}

/* 
============
typography
============
*/

html {
  font-weight: var(--fw-primary);
  /* font-size: 16px; */
  font-size: 12px;
  font-family: var(--ff-primary);
}

body {
  color: var(--cc-primary);
  font-size: var(--fs-med);
  background-color: var(--cc-bg);
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-weight: var(--fw-primary);
  margin: 0;
  padding: 0;
  color: inherit;
}

.ae-title h1 {
  /* font-size: var(--fs-xl); */

  /* responsive font sizing */
  font-size: var(--fs-fluid-title);

  letter-spacing: -0.02em;
  letter-spacing: -0.06em;

  font-weight: normal;
}

h2.title {
  font-size: var(--fs-med);
  font-weight: var(--fw-primary);
}

a {
  color: var(--cc-primary);
  text-decoration: none;
}
a.events-link {
  color: inherit;
}

li {
  list-style: circle;
  list-style-type: disc;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.serif {
  font-family: var(--ff-serif);
}

/* 
============
dot2dot
============
*/
#lineCanvas {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

path {
  opacity: 0.2;
  /* stroke:  */
}

@media (max-width: 768px) {
  #settingsButton {
    display: none;
  }
}

/* 
============
menu overlay 
- cover viewport, overlap main content but not header
============
*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--cc-bg);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
  z-index: 10;
  display: none;
}

/* 
============
header desktop 
============
*/
@media (min-width: 769px) {
  .overlay {
    display: block;
  }

  .header-container {
    display: grid;
    grid-template-rows: auto auto; /* two rows */
    grid-template-columns: 1fr;
    z-index: 11;
    position: relative;
  }

  .header {
    display: grid;
    grid-template-rows: auto; /* one row */
    grid-template-columns: 2fr 1fr;
  }

  .ae-title {
    grid-column: 1;

    white-space: nowrap;
    /* overflow: hidden;
    text-overflow: ellipsis; */
  }

  .dates {
    grid-column: 2;
    grid-row: 1;
    display: flex;

    flex-direction: column;

    justify-content: center;
  }

  .ae-subtitle {
    grid-column: 1 / -1;
    justify-self: end;
    width: 66.66%;
  }

  ul.menu-container {
    margin: 0;
  }
  #menu-items.flex {
    flex-wrap: wrap;
    gap: 0px 2em;
    width: 80%;
  }
}
/* 
============
header mobile
============
*/

@media (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
  }

  .ae-subtitle {
    align-self: end;
    padding: 0.5rem 1.5rem;
  }
}

/* 
============
main content container
============
*/

main {
  gap: 1em;
  margin: 0 1.5rem;
}

.content-container {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  /* height: var(--content-container-max-height); */
  width: auto;
}

/* desktop layout */
@media screen and (min-width: 769px) {
  .content-container {
    /* max-height: 30vh;  */
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
/* mobile layout */
@media (max-width: 768px) {
  .content-container {
    display: flex;
    flex-direction: column;
  }
}

/* 
============
main content sections
============
*/

.section {
  grid-row: 1;
  width: 100%;
}

section:first-child {
  margin-top: 0;
}

/* 
============
Listings mobile layout
menu/description, events, artists 
============
*/
@media (max-width: 768px) {
  .all-listings #menu,
  .all-listings #description,
  .all-listings #events,
  .all-listings #artists {
    order: 1;
  }

  .all-listings .events {
    order: 2;
  }

  .all-listings .artists {
    order: 3;
  }
}

/* 
============
Listings desktop layout
events, artists, description/menu
============
*/
@media (min-width: 769px) {
  #events {
    grid-column: 1 / span 2;
  }
  .all-listings #artists {
    grid-column: 3 / span 4;
  }
  #artists.filtered {
    grid-column: 3 / span 2;
  }
  .all-listings #menu {
    grid-column: 7;
  }
  #description {
    grid-column: 5 / span 3;
  }
  .section {
    overflow-y: auto; /* Scrollable? */
  }
}

/* 
============
nav 
============
*/

ul.items:not(.dates) {
  padding: 0;
}
ul.items li:hover {
  list-style: circle;
}
/* mobile layout */
@media (max-width: 768px) {
  ul.items:not(.dates) {
    padding: 0 2.5rem;
  }
}

button.toggle {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  position: relative;
}

.first-item.list-style-circle {
  list-style: circle;
}

/* ------------------ 
audio items 
--------------- */

.audio-button {
  position: absolute;
  z-index: 10;
  border-radius: 50%;
}
.circle-button {
  border: 2px solid var(--cc-primary);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  /* background-color: transparent; */
  background-color: var(--cc-bg);
}
.circle-button:hover {
  background-color: #efefef;
}

.circle-button.clicked {
  background-color: var(--cc-primary);
}
/* ------------------ 
! temp test 
--------------- */
/* 
============
layout 
============
*/

.content-container {
  max-height: var(--content-container-max-height);
}

/* .section > :not(ul) {
  padding: 0 2.5rem;
} */
#col1 > *:not(ul),
#col2 > *:not(ul),
#col3 > *:not(ul) {
  padding: 0 2.5rem;
}

/* mobile layout order */
@media (max-width: 768px) {
  /* reset order */
  /* .section {
    order: 1;
  }

  #col2 {
    order: 2;
  }

  #col3 {
    order: 3;
  } */
}

/* Desktop layout */
@media (min-width: 769px) {
  #col1 {
    /* grid-column: 1; */
    grid-column: 1 / span 2;
  }
  #col2 {
    grid-column: 3 / span 2;
  }
  #col3 {
    grid-column: 5 / span 2;
  }
  #col4 {
    grid-column: 7;
  }
  .section {
    overflow-y: auto;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.menu-items {
  display: flex;
  gap: 0px 2em;
  flex-wrap: wrap;
}

/* listing display text */
.artists-item .artist-place {
  font-weight: 300;
  letter-spacing: -0.05em;
  opacity: 0.75;
}

.artists-item .artist-context {
  font-weight: 300;
}
