@font-face {
  font-family: "Work Sans";
  src: url("/assets/font/Work_Sans/WorkSans-VariableFont_wght.ttf")
    format("truetype");
}
@font-face {
  font-family: "Herbik";
  src: url("/assets/font/Herbik/Herbik-Regular.otf") format("opentype"),
    url("/assets/font/Herbik/Herbik-Regular.ttf") format("truetype"),
    url("/assets/font/Herbik/Herbik-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Herbik";
  src: url("/assets/font/Herbik/Herbik-RegularItalic.otf") format("opentype"),
    url("/assets/font/Herbik/Herbik-RegularItalic.ttf") format("truetype"),
    url("/assets/font/Herbik/Herbik-RegularItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

:root {
  --cc-olive: #8d8200;
  --cc-olive-light: #bfb326;
  --cc-olive-highlight: #fff600;

  --cc-orange: #dd5800;
  --cc-orange-light: #ff7200;
  --cc-orange-highlight: #ff9d00;

  --cc-purple: #2c2546;
  --cc-purple-light: #8a7eb5;
  --cc-purple-highlight: #c3b2ff;

  --cc-blue: #194641;
  --cc-blue-light: #d1dcda;
  --cc-blue-highlight: #f0faf7;

  --cc-primary: var(--cc-olive);
  --cc-primary-light: var(--cc-olive-light);
  --cc-primary-highlight: var(--cc-olive-highlight);
  --cc-secondary: var(--cc-orange-light);

  --cc-bg: #f5f5f5;
  --cc-scrollbar: var(--cc-blue-light);

  --ff-primary: "Work Sans", sans-serif;
  --ff-serif: "Herbik", serif;

  --fs-fluid-title: clamp(
    3.5rem,
    9vw + 1rem,
    12rem
  ); /* min, growth-factor, max */

  --fs-xl: 11.25rem; /*180*/
  --fs-big: 5rem; /*72*/
  --fs-med: 2.25rem; /*36*/

  --fs-xl: 7.5rem; /*120*/
  --fs-big: 3rem; /*48*/
  --fs-med: 1.5rem; /*24*/

  --fw-primary: 400;

  --content-container-max-height: 66vh;
  --padding-button: 0.05em 0.5em;
}

/* 
============
typography
============
*/

html {
  font-weight: var(--fw-primary);
  /* font-size: 16px; */
  font-size: 12px;
  font-family: var(--ff-primary);
}
*::selection {
  background-color: var(--cc-olive-light);
  color: var(--cc-blue);
  color: var(--cc-orange);
}

body {
  color: var(--cc-primary);
  font-size: var(--fs-med);
  background-color: var(--cc-bg);
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-weight: var(--fw-primary);
  margin: 0;
  padding: 0;
  color: inherit;
}

.ae-title h1 {
  /* font-size: var(--fs-xl); */

  /* responsive font sizing */
  font-size: var(--fs-fluid-title);
  letter-spacing: -0.06em;

  font-weight: normal;
}

h2.section-title {
  font-size: var(--fs-med);
  font-weight: var(--fw-primary);
}

a {
  color: var(--cc-primary);
  text-decoration: none;
  pointer-events: auto !important;
}

#col3 a::before {
  /* unicode filled dot */
  content: "\25cf\0000a0";

  height: 0px;
  /* display: list-item; */
  /* background-color: currentColor; */
  /* vertical-align: middle; */
}
#col3 a:hover::before {
  /* unicode hollow dot */
  content: "\25cb\0000a0";
}

/* 
focus states 
*/
/* *:focus {
  outline: none;
  color: var(--cc-secondary);
} */
li:focus {
  text-decoration: underline;
  outline: none;
  color: var(--cc-secondary);
}

a.events-link {
  color: inherit;
}
section a {
  text-decoration: underline;
}

li {
  list-style-type: disc;
  margin: 0;
  padding: 0;
}

ul {
  --icon-size: 1em;
  --gutter: 0.5em;
  padding: 0 0 0 var(--icon-size);
}
ul li {
  padding-left: var(--gutter);
}

ul li::marker {
  /* unicode filled dot */
  content: "\25cf";
  font-size: var(--icon-size);
}

li:has(> a):hover::marker {
  /* unicode hollow dot */
  content: "\25cb";
}

.serif {
  font-family: var(--ff-serif);
}

.section__subtitle {
  font-size: var(--fs-med);
  font-weight: var(--fw-primary);
  /* color: var(--cc-primary-light); */
  margin: 0;
  padding: 0;
  /* font-family: var(--ff-serif); */
  line-height: 1.5;
}

.pseudo-list-item {
  padding-left: 0.5em;
}
.pseudo-list-item::before {
  /* unicode filled dot */
  content: "\25cf";
  display: inline-block;
  font-size: 1em;
  height: 1em;
  width: 1em;
  margin-right: 0.5em;
  /* background-color: currentColor; */
  /* vertical-align: middle; */
}
.pseudo-list-item:hover::before {
  /* unicode hollow dot */
  content: "\25cb";
}

/* 
elements
*/
figure {
  margin: 0;
}

button {
  background: none;
  font: inherit;
  cursor: pointer !important;
  pointer-events: auto !important;
}

.button__link {
  display: inline-block;
  padding: 0.05em 0.25em;
  text-align: center;
  text-decoration: none;
  border-radius: 0.25em;
  background-color: var(--cc-primary-light);
  color: var(--cc-bg);
  transition: background-color 0.1s ease-in-out, color 0.5s;
  font-family: var(--ff-serif);
  /* border: var(--cc-primary-light) 2px solid; */
  /* background-color: var(--cc-blue); */
}
.button__link:hover {
  background-color: var(--cc-primary);
  /* background-color: var(--cc-orange); */
}
.button.inactive {
  border: 1px solid var(--cc-secondary);
}

button#togglePlainTextView {
  background-color: var(--cc-bg);
  border: none;
  /* padding: var(--padding-button); */
  /* border: 1px solid var(--cc-primary); */
  /* border-radius: 0.25em; */
}
button#togglePlainTextView:hover {
  /* background-color: var(--cc-primary); */
  /* color: var(--cc-bg); */
}

/* 
============
dot2dot
============
*/
#lineCanvas {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (min-width: 769px) {
  #lineCanvas {
    display: block !important;
  }
}

#lineCanvas path {
  opacity: 0.2;
}

#settingsButton,
#settingsContainer {
  display: block;
  position: fixed;
  visibility: visible !important;
  top: 2rem;
  right: 0;
}
#settingsContainer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  background-color: var(--cc-bg);
  border: 1px solid var(--cc-primary);
  padding: 0.5rem;
  z-index: 100;
}
#settingsContainer input {
  /* width: 3em; */
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  #settingsButton {
    display: none;
  }
}

/* 
============
menu overlay 
- cover viewport, overlap main content but not header
- display only on desktop
============
*/
.overlay {
  display: flex !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--cc-bg);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
  z-index: 10;
  display: none;
  justify-content: center;
  align-items: center;
}
.overlay,
.overlay * {
  pointer-events: none !important;
}
.overlay-svg-container {
  max-width: 60rem;
  height: auto;
  width: 100%;
}
.overlay svg {
  pointer-events: none !important;
}

.overlay svg * {
  opacity: 1 !important;
  /* fill: var(--cc-blue-light) !important; */
  stroke: var(--cc-blue-light) !important;
}
.overlay svg path {
  fill: var(--cc-blue-highlight) !important;
}

.overlay svg .cls-3 {
  fill: var(--cc-olive-highlight) !important;
}
/* 
============
header desktop 
============
*/
@media (min-width: 769px) {
  .overlay {
    display: flex;
  }

  .header-container {
    display: grid;
    grid-template-rows: auto auto; /* two rows */
    grid-template-columns: 1fr;
    z-index: 11;
    position: relative;
  }

  .header {
    display: grid;
    grid-template-rows: auto; /* one row */
    grid-template-columns: 2fr 1fr;
  }

  .ae-title {
    grid-column: 1;

    white-space: nowrap;
    /* overflow: hidden;
    text-overflow: ellipsis; */
  }

  .dates-container {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .dates-header {
    display: none;
  }
  .dates li {
    width: fit-content;
    cursor: pointer;
    pointer-events: auto;
  }

  .ae-subtitle {
    grid-column: 1 / -1;
    justify-self: end;
    width: 66.66%;
  }

  ul.menu-container {
    margin: 0;
  }
  #menu-items.flex {
    flex-wrap: wrap;
    gap: 0px 2em;
    width: 80%;
  }
}
/* 
============
header mobile
============
*/

@media (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
  }

  .ae-subtitle {
    padding: 0 1.5rem;
  }
}

/* 
============
main content container
============
*/

main {
  gap: 1em;
  margin: 0 1.5rem;
}

.content-container {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  /* height: var(--content-container-max-height); */
  width: auto;
}

/* desktop layout */
@media screen and (min-width: 769px) {
  .content-container {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-right: 0;
  }
  /* .content-container section:not(#col3) {
    max-height: 80vh;
    align-self: end;
    height: 100%;
  } */
}
/* mobile layout */
@media (max-width: 768px) {
  .content-container {
    display: flex;
    flex-direction: column;
  }
}

/* 
============
main content sections
============
*/

.section {
  grid-row: 1;
  width: 100%;
}
/* no space on first child of main content */
.section > *:first-child,
section > *:first-child,
.section > div > *:first-child,
section > div > *:first-child {
  margin-top: 0;
}

.section > .hidden + *,
section > div > .hidden + * {
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .section > *:first-child,
  section > *:first-child,
  .section > div > *:first-child,
  section > div > *:first-child {
    padding: 0;
  }
}

/* 
============
Listings mobile layout
menu/description, events, artists 
============
*/
@media (max-width: 768px) {
  .all-listings #menu,
  .all-listings .section.description,
  .all-listings #events,
  .all-listings #artists {
    order: 1;
  }

  .all-listings .events {
    order: 2;
  }

  .all-listings .artists {
    order: 3;
  }
}

/* 
============
Listings desktop layout
events, artists, description/menu
============
*/
@media (min-width: 769px) {
  #events {
    grid-column: 1 / span 2;
  }
  /* program */
  .all-listings #artists {
    grid-column: 3 / span 4;
  }
  .all-listings #menu {
    grid-column: 7;
  }
  /* nightschool */
  #artists.filtered {
    grid-column: 3 / span 2;
  }
  .section {
    overflow-y: auto;
  }
}

/* 
============
nav 
============
*/

ul li.first-item {
  padding-left: 0;
}
ul li.first-item button {
  padding-left: var(--gutter);
}
/* todo revise */
ul.items:not(.dates) {
  padding: 0;
}
ul.items li:hover {
  list-style: circle;
}
/* mobile layout */
@media (max-width: 768px) {
  ul.items:not(.dates) {
    padding: 0 2.5rem;
  }
}
button.toggle {
  border: none;
  position: relative;
}

.first-item.list-style-circle::marker {
  list-style: circle;
  /* unicode hollow dot */
  content: "\25cb";
}

/* ------------------ 
audio items 
--------------- */

.audio-button {
  position: absolute;
  z-index: 10;
  border-radius: 50%;
}
.circle-button {
  border: 2px solid var(--cc-primary);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  /* background-color: transparent; */
  background-color: var(--cc-bg);
}
.circle-button:hover {
  background-color: #efefef;
}

.circle-button.clicked {
  background-color: var(--cc-primary);
}

.audio-intro {
  display: none;
}
.audio-intro-button {
  top: 0;
  left: 50%;
}
/* ------------------ 
! temp test 
--------------- */
/* 
============
layout 
============
*/

.content-container {
  max-height: var(--content-container-max-height);
}

/* #col1 > *:not(ul),
#col2 > *:not(ul),
#col3 > *:not(ul) {
  padding: 0 2.5rem;
} */
#col1 > *,
#col2 > *,
#col3 > * {
  padding: 0 2.5rem;
}

/* mobile layout order */
@media (max-width: 768px) {
  /* reset order */
  /* .section {
    order: 1;
  }

  #col2 {
    order: 2;
  }

  #col3 {
    order: 3;
  } */
}

/* 
Desktop layout 
Event and Artist pages
*/
@media (min-width: 769px) {
  #col1 {
    grid-column: 1 / span 2;
  }
  #col2 {
    grid-column: 3 / span 2;
  }
  #col3 {
    grid-column: 5 / span 3;
  }

  .section {
    overflow-y: auto;
    scrollbar-color: var(--cc-olive-highlight) var(--cc-primary);
    scrollbar-color: var(--cc-primary) var(--cc-purple-highlight);
    scrollbar-color: var(--cc-scrollbar) var(--cc-primary);
    scrollbar-width: thin;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.menu-items {
  display: flex;
  gap: 0px 2em;
  flex-wrap: wrap;
}

/* listing display text */
.artists-item .artist-place {
  font-weight: 300;
  color: var(--cc-primary-light);
  /* opacity: 0.75; */
}

.artists-item .artist-context {
  font-style: italic;
  opacity: 0.75;
}

/* 
Event Schedule 
*/
.event-schedules {
  margin: 0;
  margin-bottom: 1em;
}

.event-schedule {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 1rem; */
}

.event-schedule .column {
  flex: 1;
  margin-right: 20px;
}

.event-schedule p {
  margin: 0;
}

/* remove the margin from the last column */
.event-schedule .column:last-child {
  margin-right: 0;
}

/* 
SCROLL UNDER
*/
@media (min-width: 769px) {
  .content-container {
    max-height: 100vh;
    z-index: 5;
    top: 0;
  }
  .content-container.all-listings,
  .content-container.filtered-listings,
  .content-container.index {
    top: unset;
  }
  #col1,
  #col2,
  #col3 > :first-child,
  .content-container .section:not(#col3):not(#menu) {
    margin-top: 33vh;
  }
  .content-container .section#col3,
  .content-container .section#menu {
    margin-top: unset;
  }
  .header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 1.5rem;
    pointer-events: none;
  }
}

/* Priority */

.hidden {
  display: none !important;
}
.hidden__visibility {
  visibility: hidden;
}
@media screen and (max-width: 768px) {
  .ae-subtitle {
    position: fixed;
    z-index: 11;
  }
  .ae-subtitle * {
    z-index: 11;
  }
}
.ae-subtitle {
  width: auto;
  justify-self: unset;
}

/* todo revise */
@media screen and (min-width: 768px) {
  .menu-item.first-item {
    /* text-align: end; */
  }
}
#col3 {
  /* prevent content from touching bottom */
  padding-bottom: 1em;
}
