/* 
================
Layout
================
 */
#col1 {
  grid-column: span 2;
  overflow-y: auto;
}
#col2 {
  grid-column: span 5;
  padding-right: 1.5em;
}

/* mobile */
@media (max-width: 768px) {
  /* single column */
  main {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .form {
    grid-column: auto;
  }

  .description {
    max-height: none;
    overflow-y: visible;
  }
}

/*
================
Logo responsiveness
================
*/

/* 
small screens
*/
.logos-medium,
.logos-large {
  display: none;
}

/* 
medium screens 
*/
@media (min-width: 768px) {
  .logos-small,
  .logos-large {
    display: none;
  }
  .logos-medium {
    display: block;
  }
}

/* 
large screens 
*/
@media (min-width: 1024px) {
  .logos-small,
  .logos-medium {
    display: none;
  }
  .logos-large {
    display: block;
  }
}
