/* 
================
Layout
================
 */
.description {
  grid-column: span 2;
  /* max-height: 66vh; */
  /* overflow-y: auto;  */
}
.logos {
  grid-column: span 5;
  /* max-height: 66vh; */
  /* overflow-y: auto;  */
  padding-right: 1.5em;
}

/* mobile */
@media (max-width: 768px) {
  /* single column */
  main {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .form {
    grid-column: auto;
  }

  .description {
    max-height: none;
    overflow-y: visible;
  }
}

/* Hide medium and large logos on small screens */
.logos-medium,
.logos-large {
  display: none;
}

/* Medium screens */
@media (min-width: 768px) {
  /* Hide small and large logos */
  .logos-small,
  .logos-large {
    display: none;
  }
  /* Show medium logos */
  .logos-medium {
    display: block;
  }
}

/* Large screens */
@media (min-width: 1024px) {
  /* Hide small and medium logos */
  .logos-small,
  .logos-medium {
    display: none;
  }
  /* Show large logos */
  .logos-large {
    display: block;
  }
}
